html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(212, 165, 181);
}

canvas {
  margin:auto;
  display: block;
}

h1 {
  font-family: 'Trebuchet MS';
  text-align: center;
  color: purple;
}

p {
  font-family: 'Trebuchet MS';
  font-size: larger;
  font-style: bold;
  text-align: center;
  color: purple;
}
